# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Database Files
*.db

# VS Code
.vscode/

# MLflow
mlruns/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db