fastapi
uvicorn[standard]

streamlit

langgraph
langchain
langchain-community
langchain-groq

pinecone-client
chromadb

sentence-transformers

openai
elevenlabs

sqlalchemy

mlflow

prometheus-client

python-dotenv

pydantic

pytest

ruff

pypdf

tiktoken

httpx

python-multipart
